<div>

  <!-- Create Bucket and Upload File -->
  <div >
    <p> <span [ngStyle]="{'color':'red'}"> *PUT OBJECT: Create your Bucket by entering Bucket name, choose file to upload* </span> </p>
    <label for="createBucketName">Create Bucket: </label>
    <input type="text" name="createBucketName" [(ngModel)] = createBucketName>
    <br>
    <br>
    <label for="file">Choose File: </label>
    <input type="file" name="file" (change)="uploadFileInBucket($event)">
    <br>
    <br>
    <button (click)="createBucketAndUploadFile($event)">Create Bucket</button>
  </div>

  <br>
  <br>

  <!-- Choose Bucket and Upload File -->
  <div >
    <p> <span [ngStyle]="{'color':'red'}"> *PUT OBJECT: Choose your Bucket by entering Bucket name, to upload Object in that bucket only* </span> </p>
    <label for="bucketName">Enter Bucket Name: </label>
    <input type="text" name="bucketName" [(ngModel)] = bucketName>
    <br>
    <br>
    <label for="file">Choose File: </label>
    <input type="file" name="file" (change)="uploadFileInBucket($event)">
    <br>
    <br>
    <button (click)="UploadFile($event)">Upload File in Bucket</button>
  </div>

  <br>
  <br>

  <!-- Get all Buckets -->
  <div>
    <p> <span [ngStyle]="{'color':'red'}"> *LIST BUCKETS: Get list of available buckets* </span> </p>
    <button (click)="getAllBuckets()">Get all Buckets</button>
  </div>

  <div *ngIf="allBuckets">
    <div *ngFor="let Bucket of allBuckets">
      <p> <span>Bucket Name: {{Bucket}} </span> </p>
    </div>
  </div>

  <br>
  <br>

  <!-- Get all Objects in specific Bucket -->
  <div >
    <p> <span [ngStyle]="{'color':'red'}"> *LIST OBJECTS: Get list of available Objects in specific Bucket, If forgot Bucket name then click on 'Get all Buckets'* </span> </p>
    <label for="chooseBucketName">Choose Bucket: </label>
    <input type="text" name="chooseBucketName" [(ngModel)] = chooseBucketName>
    <br>
    <br>
    <button (click)="getAllListsInBucket()">Get All Objects in Bucket</button>
    <br>
    <div *ngIf="allListsInBucket">
      <div *ngFor="let list of allListsInBucket">
        <p> Object ID: {{list._id}} | Object Name: <span> {{list.filename}} </span> </p>
      </div>
    </div>
  </div>

  <br>
  <br>

  <!-- Delete specific Object from specific Bucket -->
  <div>
    <p> <span [ngStyle]="{'color':'red'}"> *DELETE OBJECT in specific Bucket by its ID, If forgot ID then choose your Bucket and click on 'Get All Objects in Bucket'* </span> </p>
    <label for="chooseBucketFromDelete">Enter Bucket Name : </label>
    <input type="text" name="chooseBucketFromDelete" [(ngModel)] = chooseBucketFromDelete>
    <br>
    <br>
    <label for="chooseObjectToDelete">Enter Object ID : </label>
    <input type="text" name="chooseObjectToDelete" [(ngModel)] = chooseObjectToDelete>
    <br>
    <br>
    <button (click)="deleteObjectFromBucket()">Delete Object from Bucket</button>

  </div>

  <br>
  <br>

    <!-- get object from specific bucket -->
    <div>
      <p> <span [ngStyle]="{'color':'red'}"> *GET Object in specific Bucket by its name, If forgot name then choose your Bucket and click on 'Get All Objects in Bucket'* </span> </p>
      <label for="chooseBucketNameToRead">Enter Bucket Name : </label>
      <input type="text" name="chooseBucketNameToRead" [(ngModel)] = chooseBucketNameToRead>

      <br>
      <br>
      <label for="chooseObjectNameToRead">Enter Object name : </label>
      <input type="text" name="chooseObjectNameToRead" [(ngModel)] = chooseObjectNameToRead>
      <br>
      <br>
      <button (click)="chooseObjectNameToReadFunc()">Get Object</button>
  
      <br>
      <br>

      <div *ngIf="objectFromBucketJpg">
        <img [src]="objectFromBucketJpg" alt="err">
      </div>

      <div *ngIf="objectFromBucketText">
        <p> {{objectFromBucketText}} </p>
      </div>

      <div *ngIf="objectFromBucketPdf">
        <ngx-extended-pdf-viewer 
        [src]="objectFromBucketPdf"
        [height]="'500px'"
        [textLayer]="true"
        [showHandToolButton]="true">
        </ngx-extended-pdf-viewer>
      </div>

      <div *ngIf="objectFromBucketMp3">
        <audio controls>
          <source [src]="objectFromBucketMp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>

      <div *ngIf="objectFromBucketMp4">
        <video controls>
          <source [src]="objectFromBucketMp4" type="video/mp4">
          Your browser does not support the video element.
        </video>
      </div>
    </div>
</div>

